html {
  font-size: 125%;
}

.wrapper {
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
}

body {
  background: $darkRed;
  font-family: $bodyFont;
  font-size: 1rem;
  line-height: 1.4;
  color: $white;
}

h1,
h3 {
  font-family: $headerFont;
}

h1 {
  font-size: 5rem;
  line-height: 1.2;
  width: 100%;
  margin: 0;
  padding-top: 70px;

  @media (max-width: 700px) {
    padding-top: 40px;
    font-size: 3.5rem;
  }

  @media (max-width: 480px) {
    font-size: 2.2rem;
  }
}

h2 {
  font-size: 2.2rem;
  margin-top: 20px;

  @media (max-width: 700px) {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 30px;
  }

  @media (max-width: 480px) {
    font-size: 1.2rem;
  }
}

h3 {
  font-size: 2.2rem;
  margin-bottom: 20px;
}

a {
  color: $white;
  font-weight: bold;
  transition: 0.3s all;

  &:hover,
  &:focus {
    color: $black;
  }
}

button {
  text-align: center;
  padding: 15px 80px;
  border-radius: 25px;
  margin: 0 auto;
  border: 0;
  cursor: pointer;
  transition: 0.3s all;
  @include buttonColors($black, $white);
}

.button-container {
  width: 100%;
  text-align: center;
}

.landing {
  background-image: linear-gradient(
      to bottom,
      rgba(76, 5, 10, 0.7),
      rgba(76, 5, 10, 0.7)
    ),
    url("../assets/bg-image.jpg");
  background-size: cover;
  background-position: center;
  max-width: 1650px; // constrained for bigger screens
  margin: 0 auto;
  min-height: 100vh;
}

// setting the layout of the landing area
header {
  height: 50vh;

  @media (max-width: 940px) {
    height: 30%;
  }
}

.form-inputs {
  height: 30vh;

  @media (max-width: 940px) {
    height: 50%;
  }
}

.submit-button {
  height: 20vh;

  @media (max-width: 940px) {
    padding: 30px 0;
    height: auto;
  }
}

header,
footer {
  text-align: center;
}

footer {
  padding: 30px 0 10px 0;

  p {
    font-size: 0.8rem;
    margin: 0;
  }
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

// loading screen
.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: linear-gradient(to bottom, $darkRed 50%, $black);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  p {
    font-size: 1.2rem;
    margin-top: 0;
  }
}
