// FONTS

$headerFont: "Great Vibes", cursive;
$bodyFont: "Lato", sans-serif;

// COLORS
$pink: #da3052;
$darkRed: #600910;
$white: #fff;
$black: #000;

// $bgColor: $darkRed;
// $heartColor: $darkerRed;

// $primaryTextColor: $white;

// $primaryColor: $darkRed;
// $secondaryColor: $black;
// $accentColor: $pink;
